[scenario]
    id="01_KMP_Introductions"
    name=_"Introductions"

    victory_when_enemies_defeated=no

    map_file=data/add-ons/Knyght_MP_Campaign/maps/specials/Lobby.map

    new_game_title= _ "Knyght MP Campaign: Lobby"
    force_lock_settings=yes
    # set to null since the scenario will be
    # determined by randomiser
    next_scenario=null

    turns=-1
    experience_modifier={ON_DIFFICULTY 80 100 120}

    random_start_time=yes
    allow_new_game=yes
    remove_from_carryover_on_defeat=no

    {MIDDAY}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        id="Mahir"
        name=_"Lord Mah Ir"
        type="Ancient Lich"
        controller=ai
        choose_random=no
        controller_lock=yes
        persistent=yes
        hidden=yes
        color=brightgreen
        defeat_condition=never
        disallow_shuffle=yes
        disallow_observers=yes
        {FLAG_VARIANT undead}
        canrecruit=yes
        allow_player=no
        team_lock=yes
        income_lock=yes
        # faction_lock=yes
        team_name=dungeon_master
        user_team_name=_"team_name^Dungeon"
        gold=0
        income=-2
        village_gold=-1
    [/side]

    [side]
        side=2
        color=blue
        team_name=dungeon_master
        user_team_name=_"team_name^Dungeon"
        allow_player=no
        hidden=yes
        disallow_observers=yes
        no_leader=yes
        controller="ai"
    [/side]

    [side]
        {PLAYER_1_SIDE_STATS}
        {NO_ECONOMY}
    [/side]

    [side]
        {PLAYER_2_SIDE_STATS}
        {NO_ECONOMY}
    [/side]

[/scenario]