#textdomain wesnoth-kmpcamp

[scenario]
    id=02_KMP_Battle_Marsh_3AI
    name= _ "Battle - Swamplands"
    next_scenario=null
    
    map_generation=default

    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}
    {TURNS 24 22 20}
    victory_when_enemies_defeated=yes
    random_start_time=yes

    experience_modifier={ON_DIFFICULTY 80 100 120}

    [generator]
        name=default
        castle_size=7
        map_width=32
        map_height=32
        iterations=2000
        hill_size=6
        max_lakes=40
        villages=25
        players=5
        min_lake_height=100
        lake_size=50
        river_frequency=200

        temperature_iterations=2000
        temperature_size=4

        roads=3
        road_windiness=3

        #list of common terrain types which come in at
        #different heights, from highest to lowest
        [height]
            height=600
            terrain=Mm
        [/height]
        [height]
            height=500
            terrain=Hh
        [/height]
        [height]
            height=100
            terrain=Gg
        [/height]
        [height]
            height=5
            terrain=Ww
        [/height]
        [height]
            height=0
            terrain=Wo
        [/height]

        [convert]
            min_temperature=300
            max_temperature=700
            max_height=300
            from=Gg
            to=Gs^Fp
        [/convert]

        [convert]
            min_temperature=100
            max_temperature=600
            from=Gg
            to=Ss
        [/convert]

        [convert]
            min_temperature=400
            from=Gg
            to=Gs^Fp
        [/convert]

        #road costs
        [road_cost]
            terrain=Gg
            cost=10
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Gs^Fp
            cost=20
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Ww
            cost=50
            convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
            convert_to=Ch
        [/road_cost]

        [road_cost]
            terrain=Ss
            cost=40
            convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
            convert_to=Ch
        [/road_cost]

        [road_cost]
            terrain=Hh
            cost=30
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Mm
            cost=50
            convert_to=Re
        [/road_cost]

#define MIN_COST_ROAD TERRAIN
    [road_cost]
        terrain={TERRAIN}
        cost=2
        convert_to={TERRAIN}
    [/road_cost]
#enddef

        {MIN_COST_ROAD Re}
        {MIN_COST_ROAD Ww^Bw|}
        {MIN_COST_ROAD Ww^Bw/}
        {MIN_COST_ROAD Ww^Bw\}
        {MIN_COST_ROAD Ch}

        [village]
            terrain=Gg
            convert_to=Gg^Ve
            adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
            rating=8
        [/village]

        #villages in forest are Elvish
        [village]
            terrain=Gs^Fp
            convert_to=Gg^Ve
            rating=4
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp, Gs^Fp, Gs^Fp
        [/village]

        [village]
            terrain=Hh
            convert_to=Hh^Vhh
            rating=4
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        [village]
            terrain=Mm
            convert_to=Mm^Vhh
            rating=3
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        #swamp villages
        [village]
            terrain=Ss
            convert_to=Ss^Vhs
            rating=8
            adjacent_liked=Gg, Ss, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        #merfolk villages - give them low chance of appearing
        [village]
            terrain=Ww
            convert_to=Ww^Vm
            rating=5
            adjacent_liked=Ww, Ww
        [/village]

        [castle]
            valid_terrain=Gg, Gs^Fp, Hh, Ss
            min_distance=12
        [/castle]

        [naming]
            {VILLAGE_NAMES}
        [/naming]

        [village_naming]
            {VILLAGE_NAMES}
        [/village_naming]
    [/generator]

    [side]
        {PLAYER_1_SIDE_STATS}
        faction_lock=yes
        {STANDARD_ECONOMY}
    [/side]

    [side]
        {PLAYER_2_SIDE_STATS}
        faction_lock=yes
        {STANDARD_ECONOMY}
    [/side]

    [side]
        side=3
        color=green
        team_name=dungeon_master
        user_team_name=_"team_name^Dungeon"
        allow_player=no
        hidden=no
        disallow_observers=yes
        no_leader=yes
        controller="ai"
        {STANDARD_ECONOMY_AI}
        [ai]
            leader_value=7.0
            aggression=0.90
            caution=0.10
            grouping=offensive
        [/ai]
    [/side]

    [side]
        side=4
        color=brightgreen
        team_name=dungeon_master
        user_team_name=_"team_name^Dungeon"
        allow_player=no
        hidden=no
        disallow_observers=yes
        no_leader=yes
        controller="ai"
        {STANDARD_ECONOMY_AI}
        [ai]
            leader_value=7.0
            aggression=0.90
            caution=0.10
            grouping=offensive
        [/ai]
    [/side]

    [side]
        side=5
        color=black
        team_name=dungeon_master
        user_team_name=_"team_name^Dungeon"
        allow_player=no
        hidden=no
        disallow_observers=yes
        no_leader=yes
        controller="ai"
        {STANDARD_ECONOMY_AI}
        [ai]
            leader_value=7.0
            aggression=0.90
            caution=0.10
            grouping=offensive
        [/ai]
    [/side]

    [event]
        name="preload"
        first_time_only=no

        [lua]
            code=<< wesnoth.dofile "~add-ons/Knyght_MP_Campaign/lua/scenarios/objectives_standard.lua" >>
        [/lua]
    [/event]

    [event]
        name=prestart

        {SCATTER_EMBELLISHMENTS G* ^Efm 7}
        {SCATTER_EMBELLISHMENTS Rb,Gd ^Gvs 5}
        {SCATTER_EMBELLISHMENTS G*,D*,R*,Uu*,Ur* ^Es 2}
        {SCATTER_EMBELLISHMENTS G*,R*,Uu*,Ur* ^Em 2}
        {SCATTER_EMBELLISHMENTS Uu* ^Emf 2}
        {SCATTER_EMBELLISHMENTS G*,R* ^Wm 0.25}
    [/event]

    [event]
        name="start"
        {VARIABLE_OP scenario_count sub 1}
    [/event]

    {INITIALISE_ENEMY_SIDES_MARSH_3AI}

    [event]
        name="enemies defeated"

        {SET_NEXT_SCENARIO (SCENARIO_ID_LIST)}
    [/event]
#undef MIN_COST_ROAD
[/scenario]