#textdomain wesnoth-kmpcamp
[scenario]
    id=02_KMP_Battle_Frost
    name= _ "Battle - Frost"
    next_scenario=null

    map_generation=default

    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}
    {TURNS 24 22 20}
    victory_when_enemies_defeated=yes
    random_start_time=yes

    experience_modifier={ON_DIFFICULTY 80 100 120}

    [generator]
        name=default
        castle_size=7
        map_width=32
        map_height=32
        iterations=2000
        hill_size=6
        max_lakes=40
        villages=25
        players=4
        min_lake_height=500
        lake_size=150
        river_frequency=20

        temperature_iterations=2000
        temperature_size=4

        roads=4
        road_windiness=3

        #list of common terrain types which come in at
        #different heights, from highest to lowest
        [height]
            height=600
            terrain=Mm
        [/height]
        [height]
            height=500
            terrain=Hhd
        [/height]
        [height]
            height=100
            terrain=Gd
        [/height]
        [height]
            height=5
            terrain=Ww
        [/height]
        [height]
            height=0
            terrain=Wo
        [/height]

        #water at cold temperatures becomes ice
        [convert]
            min_height=50
            max_temperature=150
            from=Ww, Wo, Ss
            to=Ai
        [/convert]

        #at low temperatures, snow appears
        [convert]
            min_height=50
            max_temperature=150
            from=Gd, Ds
            to=Aa
        [/convert]

        #hills at low temperatures get snow on them
        [convert]
            max_temperature=200
            from=Hhd
            to=Ha
        [/convert]

        #mountains at low temperatures get snow on them
        [convert]
            max_temperature=200
            from=Mm
            to=Ms
        [/convert]

        #forest appears at moderate temperatures
        [convert]
            min_temperature=250
            max_temperature=400
            from=Gd
            to=Aa^Fpa
        [/convert]

        #forest appears at moderate temperatures
        [convert]
            min_temperature=250
            max_temperature=500
            from=Gd
            to=Gll^Fp
        [/convert]

        #road costs
        [road_cost]
            terrain=Gd
            cost=10
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Gll^Fp
            cost=20
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Aa^Fpa
            cost=20
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Ww
            cost=50
            convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
            #convert_to=C
        [/road_cost]

        [road_cost]
            terrain=Hhd
            cost=25
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Ha
            cost=25
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Mm
            cost=40
            convert_to=Re
        [/road_cost]

        #road going through snow
        [road_cost]
            terrain=Aa
            cost=10
            convert_to=Re
        [/road_cost]

#define MIN_COST_ROAD TERRAIN
    [road_cost]
        terrain={TERRAIN}
        cost=2
        convert_to={TERRAIN}
    [/road_cost]
#enddef

        {MIN_COST_ROAD Re}
        {MIN_COST_ROAD Ww^Bw|}
        {MIN_COST_ROAD Ww^Bw/}
        {MIN_COST_ROAD Ww^Bw\}
        {MIN_COST_ROAD Ch}

        [village]
            terrain=Gd
            convert_to=Gd^Vh
            adjacent_liked=Gd, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp
            rating=6
        [/village]

        #villages in forest are Elvish
        [village]
            terrain=Gs^Fp
            convert_to=Gg^Ve
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gs^Fp, Gll^Fp, Gll^Fp
        [/village]

        [village]
            terrain=Aa^Fpa
            convert_to=Aa^Vha
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Aa^Fpa, Aa^Fpa, Aa^Fpa
        [/village]

        [village]
            terrain=Hhd
            convert_to=Hhd^Vhh
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp
        [/village]

        [village]
            terrain=Ha
            convert_to=Ha^Vhha
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Ha, Gll^Fp
        [/village]

        [village]
            terrain=Mm
            convert_to=Mm^Vhh
            rating=3
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp
        [/village]

        #villages in snow
        [village]
            terrain=Aa
            convert_to=Aa^Vha
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp, Aa
        [/village]

        [castle]
            valid_terrain=Gd, Gll^Fp, Hhd, Aa^Fpa, Ha, Mm
            min_distance=12
        [/castle]

        [naming]
            {VILLAGE_NAMES}
        [/naming]

        [village_naming]
            {VILLAGE_NAMES}
        [/village_naming]
    [/generator]

    [side]
        {PLAYER_1_SIDE_STATS}
        faction_lock=yes
        {STANDARD_ECONOMY}
    [/side]

    [side]
        {PLAYER_2_SIDE_STATS}
        faction_lock=yes
        {STANDARD_ECONOMY}
    [/side]

    [side]
        side=3
        color=gold
        team_name=dungeon_master
        user_team_name=_"team_name^Dungeon"
        allow_player=no
        hidden=no
        disallow_observers=yes
        no_leader=yes
        controller="ai"
        {STANDARD_ECONOMY_AI}
        [ai]
            leader_value=7.0
            aggression=0.90
            caution=0.10
            grouping=offensive
        [/ai]
    [/side]

    [side]
        side=4
        color=brightgreen
        team_name=dungeon_master
        user_team_name=_"team_name^Dungeon"
        allow_player=no
        hidden=no
        disallow_observers=yes
        no_leader=yes
        controller="ai"
        {STANDARD_ECONOMY_AI}
        [ai]
            leader_value=7.0
            aggression=0.90
            caution=0.10
            grouping=offensive
        [/ai]
    [/side]

    [event]
        name="preload"
        first_time_only=no

        [lua]
            code=<< wesnoth.dofile "~add-ons/Knyght_MP_Campaign/lua/scenarios/objectives_standard.lua" >>
        [/lua]
    [/event]

    [event]
        name=prestart

        {SCATTER_EMBELLISHMENTS G*,D*,R*,Uu*,Ur*,Aa ^Es 2}
        {SCATTER_EMBELLISHMENTS Uu* ^Emf 2}
        {SCATTER_EMBELLISHMENTS G*,R*,Aa ^Wm 0.25}
    [/event]

    [event]
        name="start"
        {VARIABLE_OP scenario_count sub 1}
    [/event]

    {INITIALISE_ENEMY_SIDES_FROST}

    [event]
        name="enemies defeated"

        {SET_NEXT_SCENARIO (02_KMP_Battle_Marsh,02_KMP_Battle_Marsh_3AI,02_KMP_Battle_Regular,02_KMP_Battle_Regular_3AI,02_KMP_Battle_Desert,02_KMP_Battle_Desert_3AI)}
    [/event]
#undef MIN_COST_ROAD
[/scenario]