#textdomain wesnoth-kmpcamp

# I am going to code this in lua later
# for now WML will suffice

# Also, this is a demo 
# showing that...
# yes, knyght can!

#define ENEMY_FACTION_SIDE_SPAWNER SIDE FACTION_SELECTION_LIST
    [set_variable]
        name=enemy_faction_type
        #rand="drakes","rebels","loyalists","northerners","undead","knalgans","dunefolk"
        rand={FACTION_SELECTION_LIST}
    [/set_variable]

    [switch]
        variable=enemy_faction_type

        [case]
            value="drakes"

            [set_variable]
                name=leader_type
                rand="Drake Flameheart","Inferno Drake","Drake Enforcer","Drake Warden","Drake Blademaster"
            [/set_variable]

            [unit]
                side={SIDE}
                placement=leader
                canrecruit=yes
                generate_name=yes
                random_traits=yes
                random_gender=yes
                type=$leader_type
            [/unit]

            {CLEAR_VARIABLE leader_type}
            [set_recruit]
                side={SIDE}
                recruit="Drake Burner,Drake Clasher,Drake Glider,Drake Fighter,Saurian Skirmisher,Saurian Augur"
            [/set_recruit]

            # add recalls
            [repeat]
                times={ON_DIFFICULTY 2 3 5}
                [do]
                    [set_variable]
                        name=recall_type
                        rand=Drake Warrior, Drake Flare, Sky Drake, Saurian Ambusher, Fire Drake, Drake Thrasher, Drake Arbiter, Saurian Oracle, Saurian Soothsayer
                    [/set_variable]

                    {GENERIC_UNIT {SIDE} ($recall_type) recall recall}

                    {CLEAR_VARIABLE recall_type}
                [/do]
            [/repeat]
            # add AI specific for faction
        [/case]

        [case]
            value="rebels"

            [set_variable]
                name=leader_type
                rand=Elvish Marshal,Elvish Champion,Elvish Avenger,Elvish Sharpshooter,Mage of Light,Arch Mage,Elvish Shyde,Elvish Enchantress
            [/set_variable]

            [unit]
                side={SIDE}
                placement=leader
                canrecruit=yes
                generate_name=yes
                random_traits=yes
                random_gender=yes
                type=$leader_type
            [/unit]

            {CLEAR_VARIABLE leader_type}
            [set_recruit]
                side={SIDE}
                recruit="Elvish Fighter,Elvish Archer,Mage,Elvish Shaman,Elvish Scout,Wose,Merman Hunter"
            [/set_recruit]

            # add recalls
            [repeat]
                times={ON_DIFFICULTY 2 3 5}
                [do]
                    [set_variable]
                        name=recall_type
                        rand=Elvish Hero, Elvish Captain, Elvish Lord, Elvish Druid, Elvish Rider, Merman Netcaster, Mermaid Enchantress, Elder Wose, Wose Shaman, Elvish Ranger, Elvish Marksman, Red Mage, White Mage
                    [/set_variable]

                    {GENERIC_UNIT {SIDE} ($recall_type) recall recall}

                    {CLEAR_VARIABLE recall_type}
                [/do]
            [/repeat]
        [/case]

        [case]
            value="loyalists"

            [set_variable]
                name=leader_type
                rand=General,Royal Guard,Halberdier,Master Bowman,Mage of Light,Arch Mage
            [/set_variable]

            [unit]
                side={SIDE}
                placement=leader
                canrecruit=yes
                generate_name=yes
                random_traits=yes
                random_gender=yes
                type=$leader_type
            [/unit]

            {CLEAR_VARIABLE leader_type}
            [set_recruit]
                side={SIDE}
                recruit="Cavalryman,Horseman,Spearman,Fencer,Heavy Infantryman,Bowman,Mage,Merman Fighter"
            [/set_recruit]
        [/case]

        [case]
            value="northerners"

            [set_variable]
                name=leader_type
                rand=Orcish Warlord,Troll Warrior,Orcish Slurbow,Orcish Nightblade
            [/set_variable]

            [unit]
                side={SIDE}
                placement=leader
                canrecruit=yes
                generate_name=yes
                random_traits=yes
                random_gender=yes
                type=$leader_type
            [/unit]

            {CLEAR_VARIABLE leader_type}
            [set_recruit]
                side={SIDE}
                recruit="Orcish Grunt,Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Naga Fighter,Goblin Spearman"
            [/set_recruit]
        [/case]

        [case]
            value="undead"

            [set_variable]
                name=leader_type
                rand=Lich,Necromancer,Draug,Banebow,Ghast,Death Knight
            [/set_variable]

            [unit]
                side={SIDE}
                placement=leader
                canrecruit=yes
                generate_name=yes
                random_traits=yes
                random_gender=yes
                type=$leader_type
            [/unit]

            {CLEAR_VARIABLE leader_type}
            [set_recruit]
                side={SIDE}
                recruit="Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Dark Adept,Ghoul"
            [/set_recruit]
        [/case]

        [case]
            value="knalgans"

            [set_variable]
                name=leader_type
                rand=Dwarvish Lord,Dwarvish Dragonguard,Dwarvish Sentinel,Assassin,Huntsman,Ranger,Dwarvish Explorer
            [/set_variable]

            [unit]
                side={SIDE}
                placement=leader
                canrecruit=yes
                generate_name=yes
                random_traits=yes
                random_gender=yes
                type=$leader_type
            [/unit]

            {CLEAR_VARIABLE leader_type}
            [set_recruit]
                side={SIDE}
                recruit="Dwarvish Guardsman,Dwarvish Fighter,Dwarvish Ulfserker,Dwarvish Thunderer,Thief,Poacher,Footpad,Gryphon Rider"
            [/set_recruit]
        [/case]

        [case]
            value="dunefolk"

            [set_variable]
                name=leader_type
                rand=Dune Blademaster,Dune Spearmaster,Dune Warmaster,Dune Wayfarer,Dune Luminary,Dune Firetrooper
            [/set_variable]

            [unit]
                side={SIDE}
                placement=leader
                canrecruit=yes
                generate_name=yes
                random_traits=yes
                random_gender=yes
                type=$leader_type
            [/unit]

            {CLEAR_VARIABLE leader_type}
            [set_recruit]
                side={SIDE}
                recruit="Dune Rover,Dune Soldier,Dune Skirmisher,Dune Rider,Dune Herbalist,Dune Burner,Naga Dirkfang"
            [/set_recruit]
        [/case]
    [/switch]
    {CLEAR enemy_faction_type}
#enddef